#izquierda { width:87%; }
#centrozap {  padding-top:40px;}
#derecha { width:10%;}
a.btn_ver{ margin-top:80%}
.zapato{position:relative; display:inline-block; width:11%; margin-left:4.0em; text-align:center;color:#FFF;}
.zapato >p {font-size:0.9em; line-height:1.5em; }
.zapato >img {width:80%;}
.zapato:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
 	opacity: 0.7;
	color:#000;
}

.zapato .nuevo { position: absolute; width: 36px; height:26px; top: 0px; right: -15px;  background-image:url(../images/nuevo.png);color:#FFF; display:block; font-weight:900; padding-top:10px; font-size:0.7em;}

.zapato .descuento { position: absolute; width: 36px; height:28px; top: 0px; right: -15px; background-image:url(../images/descuento.png); color:#FFF; display:block; font-weight:500; padding-top:8px; font-size:0.9em;}

@media screen and (max-width:1423px) and (max-height:625px){
	.zapato{ width:10%}
}

@media screen and (max-width:1142px){
	.zapato{ width:9%}
	.zapato > p {font-size:0.6em; line-height:1.5em;}
a.btn_conversion { position: absolute; left:1040px;}
a.btn_conversion:hover { left:1040px;}
body, html {width:1367px; overflow-x:scroll;}
}



